# Entorno virtual local
venv/
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de Git y GitHub
.git/
.github/

# Archivos de pruebas y entorno
.pytest_cache/
.env

# Documentación local
README.md
